<!DOCTYPE html>
<html lang="en">
<head>
       {{>headerlinks}}
</head>
<body>
  

<!-- main-header -->
<div class="container">
{{>navbar}}
  <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
              <!-- main header right -->
          <div class="col-md-6 col-12 main_header_right">
            <figure>
                <img src="images/myimg.png" class="img-fluid" alt="aboutimage">
            </figure>
          </div>

          <!-- main header left -->
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to NewsSaviour app</p>
            <h1>I am a <span class="txt-clr">MERN Stack Devloper </span>Youtuber and Frelancer</h1>
            <a href="https://www.youtube.com/channel/UCl45Z6DsKs6qm7DrN9u-r6A/videos" target="_blank" class="btn btn-primary">About Me</a>
          </div>
        
        </div>

      </div>
  </div>
</div>   

<!-- footer code -->
{{>footer}}


{{>jsfiles}}
</body>
</html>