<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to News Saviour</title>
 
  {{>headerlinks}}
</head>

<body>

  <div class="container">
    {{>navbar}}
  </div>
  </div>
  </nav>

  <div class="container my-3">
    <h2>Top News <span class="badge bg-secondary"> by News Saviour</span></h2>
    <hr>
    <div class="accordion accordion-flush" id="newsAcordian"></div>
  </div>
  {{>footer}}
  </div>
</body>
{{>jsfiles}}
</html>